
streamlit
yfinance
pandas==2.2.2  # <-- pandas も互換性のためバージョンを固定
numpy==1.26.4  # <-- numpy をエラーが出ないバージョンに固定 (1.26.4)
scikit-learn
lightgbm
matplotlib
seaborn
pandas_ta==0.3.14b0 # <-- pandas_ta もバージョンを固定
joblib
setuptools<68.0.0
